#gremlin {
  animation: slideUp 0.5s ease;
}
#chomp-mouth {
  opacity: 0;
  animation: fadeOut 0.5s infinite;
  animation-delay: 0.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
